* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to left, #36d1dc, #5b86e5);
    /* background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);*/
    padding: 40px 140px;
}

@media (max-width: 600px) {
    body {
        padding: 0px;
    }
    #tip-Upload {
        display: none;
    }
    header {
        margin-bottom: 40px;
    }
}


/*Estilos de cabecera con logo */

header {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 100px;
}

.sub-logo {
    margin-left: 285px;
    font-size: 63%;
    color: antiquewhite;
    font-family: sans-serif;
}


/* Secciones principales */

.section {
    display: flex;
    flex-direction: column;
    background-color: rgba(238, 234, 234, 0.2);
    border: solid rgba(238, 234, 234, 0.2) 1px;
    margin: 2%;
    padding: 1%;
    min-height: 400px;
    border-radius: 10px;
}

.control {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 2%;
    width: 100%;
}

.text {
    border-radius: 20px;
    border: 0px transparent;
    box-shadow: 1px 1px 3px grey;
    font-size: 100%;
    padding: 1%;
    outline: none;
}

.boxText {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2%;
    width: 95%;
    color: black;
}


.form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5%;
    width: 80%;
    margin: auto;
    min-height: 250px;
    padding: 5%;
    box-shadow: 0px 0px 5px rgba(221, 218, 218, 0.753);
    border: solid rgba(238, 234, 234, 0.2) 2px;
}

.interiorForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    width: 60%;
    box-shadow: 0px 0px 2px rgba(221, 218, 218, 0.753);
    min-height: 300px;
    border: solid rgba(238, 234, 234, 0.2) 2px;
}



/*Estilos P player */

.player {
    display: flex;
    margin-right: 16px;
    margin-top: 5px;
}

.boxText>.player>p {
    background-color: rgb(222, 222, 222, 0.2);
    border: solid rgb(222, 222, 222, 0.8) 1px;
    border-right: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 23px;
    color: whitesmoke;
    padding-left: 5px;
    padding-right: 18px;
    padding-bottom: 4px;
    font-size: 120%;
    border-radius: 5px 0px 0px 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.boxText>.player>p:hover {
    background-color: rgb(222, 222, 222, 0.4);
}

.boxText>.player>span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 114, 122);
    height: 28px;
    width: 25px;
    text-shadow: 0 0 black;
    border-radius: 0px 5px 5px 0px;
    border: solid rgb(255, 114, 122) 1px;
}

.boxText>.player>span:hover {
    cursor: pointer;
    color: white;
    background-color: #b61d1d;
    border: solid #b61d1d 1px;
}


/****/

.labels {
    margin: auto;
    font-size: 50px;
    margin-top: 30px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    background-color:transparent;
    padding: 7%;
}

.slide{
    width: 60px;
    height: 20px;
    align-self: center;
    text-align: center;
    background-color: rgb(240, 235, 236);
    border-radius: 30px;
    margin: auto;
    margin-bottom: 3%;
}

.buttonSlider{
    position: relative;
    border-radius: 50%;
    top: 6px;
    left: 5px;
    width: 19px;
    height: 19px;
    background-color: rgb(192, 187, 187);
    z-index: 2;
}

.borderSlider{
    position: relative;
    top: -5px;
    left: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgb(211, 208, 205);
    z-index: 1;
}

.selects{
    overflow: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    border: solid rgba(238, 234, 234, 0.2) 2px;
    width: 100%;
    height: 200px;
    color: white;
    font-size: 20px;
}

.titles{
    width: 99%;
    text-align: center;
    font-weight: bolder;
    margin:1%;
}

.options{
    overflow: auto;
    text-align: center;
    margin:auto;
    max-height: 100%;
    border: 1px solid white;
    width: 92%;
    height: auto;
}

/* Estilos del scroll */
.selects::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: transparent;
}

.selects::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
}

.selects::-webkit-scrollbar-track{
    border-radius: 2px;
}

/* Estilos botones */

.button {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 720%;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    padding-bottom: 1%;
    margin: 1%;
}

#section1 .button,
#section3 .button {
    margin: auto;
}

.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    border: solid rgba(238, 234, 234, 0.9) 2px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.file-button {
    background: url("../images/uploadW.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.file-button:hover {
    background: url("../images/uploadP.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid rgba(238, 0, 234, 1) 2px;
    background-blend-mode: soft-light;
}

.menuButton:hover,
.button-nav:hover {
    border: solid rgba(238, 0, 234, 0.5) 2px;
    color: rgba(238, 0, 234, 0.5);
}

#tip-Upload {
    position: absolute;
    margin-left: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30%;
    color: rgba(238, 0, 234, 0.5);
    background-color: rgba(238, 234, 234, 0.5);
    border-radius: 25px;
    padding: 10px 10px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.button-nav {
    font-size: 200%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid rgba(238, 234, 234, 0.9) 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-bottom: 0px;
    transition: 1s;
}


/*Custom input file*/

.file-button input[type="file"] {
    opacity: 0;
    height: 50px;
    display: inline-block;
}


/* Clase para controlar pagina actual */

.noVisibility {
    display: none;
}