* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to left, #36d1dc, #5b86e5);
    /* background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);*/
    padding: 20px 100px;
}

@media (max-width: 600px) {
    body {
        padding: 0px;
    }
    #tip-Upload {
        display: none;
    }
}


/* Secciones principales */

.section {
    display: flex;
    flex-direction: column;
    background-color: rgba(238, 234, 234, 0.2);
    border: solid rgba(238, 234, 234, 0.2) 1px;
    margin: 2%;
    padding: 1%;
    min-height: 400px;
    border-radius: 10px;
}

.control {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 2%;
    width: 100%;
}

.text {
    border-radius: 20px;
    border: 0px transparent;
    box-shadow: 1px 1px 3px grey;
    font-size: 100%;
    padding: 1%;
}

.boxText {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2%;
    width: 95%;
    color: black;
}


/*Estilos P player */

.player-card {
    background-color: rgb(222, 222, 222, 0.2);
    border: solid rgb(222, 222, 222, 0.8) 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 23px;
    color: whitesmoke;
    padding-left: 5px;
    padding-right: 30px;
    font-size: 100%;
    border-radius: 5px 0px 0px 5px;
    margin-right: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.player-card:hover {
    background-color: rgb(222, 222, 222, 0.4);
}

.player-card::after {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    position: absolute;
    content: "x";
    background-color: #E74C3C;
    text-align: center;
    height: 23px;
    width: 23px;
    text-shadow: black;
    margin-top: -1px;
    margin-left: 20px;
    border-radius: 0px 5px 5px 0px;
    border: solid #E74C3C 1px;
}

.player-card:hover::after {
    cursor: pointer;
    color: #34495E;
    background-color: #F1C40F;
    border: solid #F1C40F 1px;
}


/****/

.labels {
    font-size: 300%;
    font-weight: bolder;
    margin: 1%;
}


/* Estilos botones */

.button {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 720%;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    padding-bottom: 1%;
    margin: 1%;
}

#section1 .button,
#section3 .button {
    margin: auto;
}

.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    border: solid rgba(238, 234, 234, 0.9) 2px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.file-button {
    background: url("../images/uploadW.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.file-button:hover {
    background: url("../images/uploadP.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid rgba(238, 0, 234, 1) 2px;
    background-blend-mode: soft-light;
}

.menuButton:hover,
.button-nav:hover {
    border: solid rgba(238, 0, 234, 0.5) 2px;
    color: rgba(238, 0, 234, 0.5);
}

#tip-Upload {
    position: absolute;
    margin-left: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30%;
    color: rgba(238, 0, 234, 0.5);
    background-color: rgba(238, 234, 234, 0.5);
    border-radius: 25px;
    padding: 10px 10px;
}

.buttonContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    top: 400px;
    width: 100%;
}

.button-nav {
    font-size: 200%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid rgba(238, 234, 234, 0.9) 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-bottom: 0px;
    transition: 1s;
}


/* Clase para controlar pagina actual */

.noVisibility {
    display: none;
}