* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000;
    overflow: hidden;
    /* background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);*/
}

main {
    animation: colorPulse 5s infinite ease-in-out;
    background-image: radial-gradient(#444, #111);
    width: 100%;
    min-height: 900px;
    box-shadow: 0 0 5vmin 1vmin #000 inset;
    font-family: 'Fira Mono', monospace;
    color: #0c0;
    padding-top: 80px;
}

@keyframes colorPulse {
    0%,
    100% {
        color: #0c0;
    }
    48%,
    52% {
        color: #090;
    }
    50% {
        color: #060;
    }
}

main::after {
    background-image: linear-gradient(transparent, transparent 4px, #222);
    background-size: 5px 5px;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

@media (max-width: 600px) {
    body {
        padding: 0px;
    }
    #tip-Upload {
        display: none;
    }
    header {
        margin-bottom: 0px;
    }
}




/*Estilos de cabecera con logo */

header {}


/* Secciones principales */

.section {
    display: flex;
    flex-direction: column;
    padding: 1%;
    min-height: 400px;
}

#section1 .button,
#section3 .button {
    margin: auto;
}

#section2 {}

.control {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 2%;
    width: 100%;
}

.text {
    border: 0px transparent;
    font-size: 100%;
    padding: 1%;
    outline: none;
}

.boxText {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2%;
    width: 95%;
    max-height: 250px;
    overflow-y: scroll;
}


/*scroll BOXTEXT*/

.boxText::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

.boxText::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
}

.boxText::-webkit-scrollbar-track {
    border-radius: 2px;
}


/*-----Animacion waiting users en p ------*/

.boxText>p {
    padding-top: 5%;
    padding-bottom: 5%;
}

.selections{
    display: flex;
    margin: auto;
    margin-top: -60px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90.4%;
}

.selection, .selected{
    text-align: center;
    width: 90%;
    border: 2px solid #0c0;
    height: 40px;
    font-size: 30px;
    margin: auto;
    padding: 30px;
    background-color: transparent;
    box-shadow: 0px 0px 5px #0c0 inset;
}

.selected{
    background-color: #0c0;
    color: white;
    box-shadow: 0px 0px 10px #0c0;
}

.selection:hover{
    background-color: #0c0;
    color: white;
    cursor: pointer;
}

.form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5%;
    width: 80%;
    margin: auto;
    min-height: 250px;
}

.interiorForm {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    height: 500px;
    border: solid #0c0 2px;
    box-shadow: 0px 0px 5px #0c0 inset, 0px 0px 5px #0c0;
}


/*Estilos P player */

.player {
    display: flex;
    margin-right: 16px;
    margin-top: 5px;
}

.player>p {
    background-color: rgb(222, 222, 222, 0.2);
    border: solid #0c0 1px;
    border-right: 0px;
    height: 23px;
    padding-left: 5px;
    padding-right: 18px;
    padding-bottom: 4px;
    font-size: 120%;
}

.player>p:hover {
    background-color: rgb(222, 222, 222, 0.4);
}

.player>span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0c0;
    height: 28px;
    width: 25px;
    text-shadow: 0 0 black;
    color: white;
    font-weight: bolder;
    border: solid #0c0 1px;
}

.player>span:hover {
    cursor: pointer;
    background-color: #b61d1d;
    border: solid #b61d1d 1px;
}


/****/

.labels {
    margin: auto;
    margin-top: 4px;
    margin-bottom: 15px;
    font-size: 70px;
    font-weight: lighter;
    text-align: center;
    background-color: transparent;
    padding: 3%;
    text-shadow: 0px 0px 7px rgb(11, 151, 11);
}

.selects {
    overflow: auto;
    background-color: transparent;
    width: 100%;
    height: 300px;
    font-size: 20px;
    margin: auto;
    margin-top: 45px;
}

.titles {
    width: 99%;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 0px 0px 4px rgb(7, 109, 7);
    padding-bottom: 1%;
}

.options {
    overflow: auto;
    text-align: center;
    margin: auto;
    max-height: 100%;
    font-size: 30px;
    color: white;
    background-color: #0c0;
    border: 1px solid rgb(65, 63, 63);
    width: 40%;
    height: auto;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px #0c0;
}

.options:hover{
    background-color: transparent;
    border: 1px solid #0c0;
    box-shadow: 0px 0px 10px #0c0 inset;
    cursor: pointer;
}

@media (max-width: 900px) {
    .selection{
        font-size: 20px;
    }

    .labels{
        font-size: 40px;
        margin: auto;
        padding-top: 15%;
    }

    .selects{
        padding-left: 20px;
        width: 95%;
    }
}

/* Estilos del scroll */

.selects::-webkit-scrollbar {
    width: 25px;
    height: 5px;
    background-color: transparent;
}

.selects::-webkit-scrollbar-thumb {
    background: #0c0;
    box-shadow: 0px 0px 5px #0c0;
}

.selects::-webkit-scrollbar-track {
    border-radius: 2px;
    cursor: pointer;
}


/* Estilos botones */

.button {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 720%;
    width: 150px;
    height: 50px;
    padding-bottom: 1%;
}

.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    border: solid #0c0 2px;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.file-button {
    background: url("../images/uploadW.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.file-button:hover {
    background: url("../images/uploadP.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid rgba(238, 0, 234, 1) 2px;
    background-blend-mode: soft-light;
}

.menuButton:hover,
.button-nav:hover {
    border: solid rgba(238, 0, 234, 0.5) 2px;
}

#tip-Upload {
    position: absolute;
    margin-left: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30%;
    background-color: rgba(238, 234, 234, 0.5);
    padding: 10px 10px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    margin-top: 25px;
    width: 40%;
}

.button-nav {
    font-size: 200%;
    width: 50px;
    height: 50px;
    border: solid #0c0 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-bottom: 0px;
    transition: 1s;
}


/*Custom input file*/

.file-button input[type="file"] {
    opacity: 0;
    height: 50px;
    display: inline-block;
}


/* Clase para controlar pagina actual */

.noVisibility {
    display: none;
}


/* Clase para el grupo de participantes */

.team {
    width: 30%;
    background-color: rgba(209, 214, 214, 0.493);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1%;
    gap: 1%;
}

.nameTeam {
    font-size: 20px;
    background-color: red;
    width: 98.5%;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 3px;
}